In [ ]:
# find top 10 purchased products based on unitssols for each pro

In [13]:
import pandas as pd

In [17]:
product=pd.read_csv('C:/Users/iii/Downloads/project 3/Products.csv')
od=pd.read_csv('C:/Users/iii/Downloads/project 3/Order Details.csv')

In [18]:
product.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [21]:
product.columns

Index(['ProductID', 'ProductName', 'SupplierID', 'CategoryID',
       'QuantityPerUnit', 'UnitPrice', 'UnitsInStock', 'UnitsOnOrder',
       'ReorderLevel', 'Discontinued'],
      dtype='object')

In [22]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductID        77 non-null     int64
 1   ProductName      77 non-null     object
 2   SupplierID       77 non-null     int64
 3   CategoryID       77 non-null     int64
 4   QuantityPerUnit  77 non-null     object
 5   UnitPrice        77 non-null     float64
 6   UnitsInStock     77 non-null     int64
 7   UnitsOnOrder     77 non-null     int64
 8   ReorderLevel     77 non-null     int64
 9   Discontinued     77 non-null     int64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.1+ KB

In [23]:
product.dtypes

ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

In [24]:
od.head()

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [25]:
od.columns

Index(['OrderID', 'ProductID', 'UnitPrice', 'Quantity', 'Discount'], dtype='object')

In [26]:
od.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    2155 non-null   int64
 1   ProductID  2155 non-null   int64
 2   UnitPrice  2155 non-null   float64
 3   Quantity   2155 non-null   int64
 4   Discount   2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB

In [27]:
od.dtypes

OrderID        int64
ProductID      int64
UnitPrice    float64
Quantity       int64
Discount     float64
dtype: object

In [31]:
product.head(4)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.0,53,0,0,0

In [32]:
od.head(4)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0

In [36]:
product.shape

(77, 10)

In [37]:
od.head(4)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0

In [38]:
od.shape

(2155, 5)

In [34]:
df = pd.merge(od,product, on='ProductID', how='inner')

In [35]:
df.head()

,OrderID,ProductID,UnitPrice_x,Quantity,Discount,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice_y,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,10248,11,14.0,12,0.0,Queso Cabrales,5,4,1 kg pkg.,21.0,22,30,30,0
1,10296,11,16.8,12,0.0,Queso Cabrales,5,4,1 kg pkg.,21.0,22,30,30,0
2,10327,11,16.8,50,0.2,Queso Cabrales,5,4,1 kg pkg.,21.0,22,30,30,0
3,10353,11,16.8,12,0.2,Queso Cabrales,5,4,1 kg pkg.,21.0,22,30,30,0
4,10365,11,16.8,24,0.0,Queso Cabrales,5,4,1 kg pkg.,21.0,22,30,30,0

In [39]:
df.shape

(2155, 14)

In [40]:
prod_sales =df.groupby(['ProductID', 'ProductName'])['Quantity'].sum().reset_index()

In [41]:
prod_sales.head()

   ProductID                   ProductName  Quantity
0          1                          Chai       828
1          2                         Chang      1057
2          3                 Aniseed Syrup       328
3          4  Chef Anton's Cajun Seasoning       453
4          5        Chef Anton's Gumbo Mix       298

In [42]:
top_10_product = prod_sales.sort_values(by='Quantity', ascending=False).head(10)

In [43]:
print(top_10_product)

    ProductID             ProductName  Quantity
59         60       Camembert Pierrot      1577
58         59    Raclette Courdavault      1496
30         31       Gorgonzola Telino      1397
55         56  Gnocchi di nonna Alice      1263
15         16                 Pavlova      1158
74         75    Rhönbräu Klosterbier      1155
23         24      Guaraná Fantástica      1125
39         40        Boston Crab Meat      1103
61         62          Tarte au sucre      1083
70         71             Flotemysost      1057